@primary: #FF9241;
.container {
	height: 100%;
	padding-top: 50px;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
	// 季款
	.season {
		height: 44px;
		line-height: 44px;
		padding: 0px 16px;
		border-bottom: 1px solid #f8f8f8;
		border-top: 1px solid #f8f8f8;
		color: #919191;
		font-size: 13px;
		background: #fff;
	}
	// 存衣数量
	.pane {
		padding: 0px 3px;
		.pane_header {
			height: 28px;
			line-height: 28px;
			color: #fff;
			text-align: center;
			font-size: 13px;
			background: @primary;
		}
		.pane_body {
			padding: 6px 10px;
			border: 1px solid #CCCCCC;
			border-top: none;
		}
	}
	// tips
	.tips_container {
		padding: 16px;
		font-size: 12px;
		.tips {

		}
	  .total_price {
			color: #757575;
			font-size: 14px;
			span {
				color: @primary;
				font-size: 24px;
			}
		}
	}
	// 入库
	.btn_container {
		// position: fixed;
		// bottom: 0;
		// left: 0;
		width: 100%;
		background: #fff;
		padding: 8px 0px 24px;
		text-align: center;
		.tab_btn {
			display: block;
			height: 44px;
			width: 270px;
			line-height: 44px;
			border-radius: 22px;
			margin: 0 auto;
			background: @primary;
			color: #fff;
			font-size: 18px;
			text-align: center;
			border: none;
			&:active {
				background: darken(@primary, 10%);
			}
		}
	}

	// 添加衣服PopWindow
	.pop_content {
		padding: 0 16px;
		background: #fff;
		.title {
			height: 58px;
			line-height: 58px;
			text-align: center;
			color: @primary;
			font-size: 20px;
			font-weight: normal;
			border-bottom: 1px solid #CCCCCC;
		}
		.warehouse_length {
			padding: 15px;
			border-bottom: 1px solid #CCCCCC;
			text-align: center;
			color: #4A4A4A;
			font-size: 14px;
			p {
				margin-bottom: 10px;
			}
			.radio_container {
				width: 225px;
				text-align: left;
				margin: 0 auto;
			}
		}
		.form_count {
			padding: 15px;
			text-align: center;
			color: #4A4A4A;
			font-size: 14px;
			p {
				margin-bottom: 10px;
			}
			.count_input {
				width: 160px;
				height: 40px;
				line-height: 40px;
				margin: 0 auto;
				.count_button {
					border-color: transparent;
					padding: 0;
					border-radius: 50%;
					img {
						display: inline-block;
						height: 40px;
						width: 40px;
						vertical-align: middle;
					}
				}
				span {
					vertical-align: middle;
				}
				input {
					width: 50px;
					margin: 0 10px;
					display: inline-block;
					vertical-align: middle;
					text-align: center;
				}
			}
		}
		.actions {
			height: 110px;
			padding: 42px 0 24px;
			width: 100%;
			.btn {
				width: 50%;
				float: left;
				text-align: center;
				button {
					color: #4A4A4A;
					font-size: 19px;
					border: 1px solid @primary;
					border-radius: 22px; 
					width: 90%;
					height: 44px;
					background: #fff;
				}
			}
		}
	}
}