.container {
	height: 100%;
	padding-bottom: 50px;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
	// 季款
	.season {
		height: 44px;
		line-height: 44px;
		padding: 0px 16px;
		border-bottom: 1px solid #f8f8f8;
		border-top: 1px solid #f8f8f8;
		color: #919191;
		font-size: 13px;
		background: #fff;
	}
	// 衣服种类
	.clothe_kind {
		padding: 7px 13px 0px;
		background: #fff;
		text-align: center;
		font-size: 13px;
		img {
			height: 46px;
		}
		button {
			border: none;
			background: #fff;
			width: 70px;
			height: 90px;
			border-radius: 0;
			padding: 0;
			margin-bottom: 4px;
			font-weight: 200;
			color: #4A4A4A;
			&:hover {
				color: #919191;
			}
		}
		.active {
			background-color: #FDEDDF;
		}
	}
	// 存衣数量
	.pane {
		padding: 0px 3px;
		.pane_header {
			height: 28px;
			line-height: 28px;
			color: #fff;
			text-align: center;
			font-size: 13px;
			background: #FF9241;
		}
		.pane_body {
			padding: 6px 10px;
			border: 1px solid #CCCCCC;
			border-top: none;
		}
	}
	// tips
	.tips_container {
		padding: 16px;
		font-size: 10px;
		.tips {
			.dropdown {
				margin-left: 8px; 
				color: #757575 !important; 
				border-color: #FF9241;
			}
		}
	  .total_price {
			color: #757575;
			font-size: 14px;
			span {
				color: #FF9241;
				font-size: 24px;
			}
		}
	}
	// 入库
	.btn_container {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 12px 0;
		text-align: center;
		.tab_btn {
			display: block;
			height: 44px;
			width: 270px;
			line-height: 44px;
			border-radius: 22px;
			margin: 0 auto;
			background: #FF9241;
			color: #fff;
			font-size: 18px;
			text-align: center;
			&:active {
				background: darken(#FF9241, 10%);
			}
		}
	}

	// 添加衣服表单
	.form {
		background: #EFEFF4;
		.content {
			padding: 16px;
			background: #fff;
		}
		.actions {
			margin-top: 6px;
			background: #fff;
		}
	}
}