// index
.appointments {
	background: #f8f8f8;
	height: 100%;
	padding-top: 50px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	// DateAppointments.jsx
	.item_header {
		height: 44px;
		line-height: 44px;
		font-size: 18px;
		color: #4A4A4A;
		padding-left: 16px;
		background: #fff;
		border-bottom: 4px solid #f8f8f8;
		font-weight: 300;
	}
	.item {
		display: block;
		background: #fff;
		&:active {
			background: #f8f8f8;
		}
		.item_footer {
			height: 45px;
			line-height: 43px;
			display: block;
			margin-bottom: 4px;
			padding: 0 16px;
			color: #757575;
			font-size: 14px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			border-top: 1px solid #f8f8f8;
			img {
				height: 18px;
				margin-right: 7px;
				vertical-align: middle;
			}
			span {
				vertical-align: middle;
			}
		}
		.tag {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			color: #fff;
			text-align: center;
			line-height: 50px;
		}
		.tag_service {
			background-color: #F24F4F;
		}
		.tag_payment {
			background-color: #ECC17D;
		}
		.tag_paied {
			background-color: #B8E986;
		}
		.tag_storing {
			background-color: #FC9421;
		}
		.tag_canceled {
			background-color: #ddd;
		}
	}
}

// show
.appointment {
	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #fff;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 1;
	.div_one {
		height: 68px;
		border-bottom: 1px solid #EBEBEB;
	}
	.div_two {
		height: 111px;
		border-bottom: 1px solid #EBEBEB;
		position: relative;
		.photo {
			height: 70px;
			width: 70px;
			border-radius: 35px;
			position: absolute;
			top: -35px;
			left: 50%;
			margin-left: -35px;
		}
		.name {
			color: #919191;
			padding-top: 40px;
			font-size: 16px;
			text-align: center;
			font-weight: normal;
		}
		.phone {
			font-size: 16px;
			color: #000;
			text-align: center;
			display: block;
			img {
				height: 16px;
				margin-right: 8px;
				vertical-align: middle;
			}
			span {
				vertical-align: middle;
				font-weight: normal;
			}
		}
	}
	.div_three {
		padding-top: 28px;
		text-align: center;
		line-height: 28px;
		.address {
			font-size: 14px;
			color: #757575;
			margin-bottom: 18px;
			display: block;
			img {
				height: 15px;
				margin-right: 8px;
				vertical-align: middle;
			}
			span {
				vertical-align: middle;
			}
		}
		.time_count {
			color: #000;
			font-size: 13px;
		}
		.timeline {
			width: 80px;
			margin: 10px auto;
			text-align: left;
			line-height: 1.5;
		}
	}
	.warehouse {
		width: 270px;
		height: 44px;
		border: none;
		text-align: center;
		line-height: 44px;
		background-color: #ECC17D;
		color: #fff;
		font-size: 16px;
		border-radius: 22px;
		margin: 48px auto 0;
		display: block;
		position: fixed;
		bottom: 24px;
		left: 50%;
		padding: 0;
		margin-left: -135px;
		&:active {
			background-color: darken(#ECC17D, 10%);
		}
	}
}
